

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
}

.container {
    display: flex;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      place-content: center;
      padding: 3rem;
}

.btn-wrap {
  display: flex;
  gap: 1rem;
}


.good {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: green;
}
.bad {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: red;
  
}
.neutral {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: grey;
}

.display {
  display: flex;
  flex-direction: column;
}